---
import * as CONSTS from '../consts.ts';
import { Icon } from 'astro-icon/components'
const today = new Date();
---

<footer class="footer footer-center flex flex-col gap-4 p-10 bg-base-100 text-base-content border-t border-base-300">
  <aside>
    <p class="font-medium opacity-80">
      &copy; {today.getFullYear()} {CONSTS.copyright_name}. All rights reserved.
    </p>
  </aside> 

  <nav>
    <div class="grid grid-flow-col gap-6">
      <a 
        href={CONSTS.socials.github} 
        target="_blank" 
        class="text-primary hover:scale-110 transition-transform"
      >
        <span class="sr-only">Github</span>
        <Icon name="github" class="w-7 h-7" />
      </a>
      <a 
        href={CONSTS.socials.linkedin} 
        target="_blank" 
        class="text-primary hover:scale-110 transition-transform"
      >
        <span class="sr-only">Linkedin</span>
        <Icon name="linkedin" class="w-7 h-7" />
      </a>
    </div>
  </nav>
</footer>
